// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.jumbotron.jumbotron-home {
    background-image: url(image_path('home-bg.jpg'));
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}


//Sign Up and Sign in Forms

.new_user {
    max-width: 330px;
    padding: 5em 1em;
    margin: 0 auto;
}